html {scroll-behavior: smooth;}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background: radial-gradient(purple, green);
    background-size: cover;
}

a {
    font-size: 1.4em;
    margin: auto;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.849);
}

.caja::-webkit-scrollbar {
    background: aqua;
    border-radius: 15px;
    height: 10px;
}

.caja::-webkit-scrollbar-thumb {
    background: blue;
    border-radius: 15px;
    cursor: grab;
}

.caja {
    cursor: grab;
    top: 3rem;
    position: relative;
    display: flex;
    overflow-x: scroll;
    height: 40rem;
    width: 60rem;
    scroll-snap-type: x mandatory;
    scroll-padding: 30px;
    gap: 120px;
    margin: auto;
}
.caja:active {cursor: grabbing;}

.caja, li a img {
    list-style: none;
    border-radius: 10px;
    padding: 0px;
    scroll-snap-align: start;
}

.caja img {
    position: relative;
    width: 53rem;
}

.pie {
    bottom: 0px;
    color: white;
    background: #0000009d;
    display: grid;
    justify-items: center;
    position: fixed;
    width: 100%;
}

.contactos {font-size: 18px;}

.pie ul li {list-style: none;}
.pie ul li a {font-size: 15px;}

.abrir_menu {display: none;}

.navegador1 {
    position: relative;
    top: 1em;
    display: grid;
    justify-items: center;
}

.navegador2 {
    height: 3em;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.inicio, .sobre_mi, .contacto, .proyectos {
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.inicio:hover:before, .sobre_mi:hover:before, .contacto:hover:before, .proyectos:hover:before {
    scale: 1;
    transition: 0.65s;
}

.inicio:before, .sobre_mi:before, .contacto:before, .proyectos:before {
    content: "";
    margin-top: 26px;
    position: absolute;
    height: 2px;
    background: white;
    transition: 0.65s;
    scale: 0;
    z-index: 1;
}

.inicio:before {width: 3.3rem;}
.sobre_mi:before {width: 5.2rem;}
.contacto:before {width: 5.1rem;} 
.proyectos:before {width: 5.65rem;     background-color: white;}


@media screen and (max-width: 720px) {

    body {min-width: 360px;}

    .caja {transform: translate(0px, 89px); scroll-padding: 2px; width: 90%; height: auto;}
    .caja img {margin: auto; width: 89vw; height: 35vh;}
    .caja::-webkit-scrollbar {height: 5px;}

    /*de aqui para abajo estoy modificando el nav (El menu)*/
    .abrir_menu {
        display: block;
        width: 2.7rem;
        background: transparent;
        height: 2rem;
        position: fixed;
        border: none;
        top: 5px;
        left: 15px;
        z-index: 2;
    }
    .abrir_menu .bar, .bar1, .bar2 {
        display: block;
        position: relative;
        height: 4px;
        width: 2em;
        background: rgb(181, 247, 0);
        margin: 4.5px;
        transition: 0.75s;
    }
    .bar1.cambio {
        position: absolute;
        transform:rotate(-50deg);
        transition: 0.75s;
    }
    .bar2.cambio2 {
        top: 9px;
        bottom: 0px;
        position: absolute;
        transform:rotate(50deg);
        transition: 0.75s;
    }
    
    .navegador1 {top:0px; left: -300px; transition: 0.75s; display: block;}
    .navegador1.SDM {display:block; left: 0px; transition: 0.75s;}

    .abrir_menu:active {scale: 1.1;}

    .navegador2 {
        padding-top: 3rem;
        width: 10rem;
        display: block;
        position: fixed;
        z-index: 1;
        min-height: 100vmax;
        background: purple;
        border-radius: 5px;
    }
    .navegador2 li  {
        position: relative;
        display: block;
        padding: 15px;
        z-index: 1;
        text-align: start;
        font-size: 12px;
    }
    /*aqui finaliza*/

}